* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container-01 {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.container-02 {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#title, .lead {
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    padding: 30px;
}

h1 {
    color: white;
}

.display-4 {
    opacity: 85%;
}

#instructions {
    opacity: 85%;
}

.row {
    padding: 70px;
    display: flex;
    justify-content: center;
}

#quem {
    font-size: 20px;
    color: white;
}

#img {
    width: 71%;
    margin-left: 15%;
}

.coluna {
    color: white;
    font-size: 22px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}



