* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.background {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container-01 {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.container-02 {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#title, .lead {
    color: white;
    position: relative;
    text-align: center;
}

#gamebox {
    display: flex;
    color: white;
    position: absolute;
    font-size: 32px;
    text-align: center;
}

.coluna {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: center;
}

.col-md-2 {
    flex: center;
    
}

.col-md-4-text-center {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}